* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
}

body {
    background: linear-gradient(to right,#088A29,#0B6121);

}

.navbar {
    background: #0B3B2E!important;
    opacity: 0.9;
}

.nav-link, .navbar-brand {
    color: white!important;
}

.navbar-toggler {
    color: white;
}

