* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
}
body {
    background: linear-gradient(to right,#088A29,#0B6121);

}

.navbar {
    background: #0B3B2E!important;
    opacity: 0.9;
}
.navbar a {
    color: white!important;
}
.form-control {
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 1%;
    border: 1px solid black;
    border-radius: 0;
    height: 40px;
    color: #0B6121;
    font-weight: bold;
}

.opt {
    color: #0B6121;
    font-weight: bold;

}

.conecte {
    font-size: 2em;
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-top: 5%;
}

.login {
    width: 100%;
    text-align: center;
}
.login-email,.login-senha{
    width: 80%;
    height: 40px;
    padding: 2%;
    border: 1px solid black;
    font-size: 20px;
}

.login-email:focus,.login-senha:focus {
    outline: 0;
}

.login-senha {
    border-top: none; 
}
::placeholder {
    color: #0B6121;
    font-family: 'Russo One', sans-serif;
}
.btn-login {
    width: 80%;
    padding: 0;
    height: 40px;
    border: 1px solid black;
    background: #0B3B2E!important;
    color: white;

}

.btn-login:hover {
    background: #0B6121!important;
    color: white;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

a:hover {
    color: white;
}

.rodape {
    width: 100%; 
    float: left; 
    text-align: center;
    background: #0B3B2E!important;
    opacity: 0.9;
    position: absolute;
    padding: 1% 0;
    bottom: 0;
}

.social-icons a {
    font-size: 1.5em; 
    color: rgba(255,255,255,0.9); 
    margin-right: 2%;
}
.social-icons a:hover {
    color: rgba(0,0,0,0.9);
}
.copyright {
    color: rgba(255,255,255, 0.9); 
}

@media screen and (min-width:1366px) {

    body {
        background-image: url("../imagens/background2.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .login {
        width: 30%;
        border: 3px solid black;
        margin-top: 5%;
        margin-left: 35%;
        background: #0B3B2E;
        opacity: 0.9;
        height: 450px;
    }
    
    .form-control {
        
       font-size: 20px;
    }
    
    .login-email, .login-senha, .form-control, .btn-login {
        border: 1px solid black;
    }

    .login-email {
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .btn-login {
        background: linear-gradient(to right,#088A29,#0B6121)!important;
    }

}

